<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

  <featureManager>
    <feature>jakartaee-9.1</feature>
  </featureManager>

  <webApplication location="${project.name}.war" contextRoot="${app.context.root}">
    <classloader apiTypeVisibility="+third-party"/>
  </webApplication>

  <!-- https://github.com/OpenLiberty/open-liberty/issues/1357 -->
  <basicRegistry id="basic" realm="dummyRealm">
  </basicRegistry>

  <jndiEntry jndiName="faces/ProjectStage" value="${app.faces.stage}"/>

</server>
